{{define "layout"}}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>UConversor</title>

    <link
        rel="stylesheet"
        href="/static/css/base.css"
    >

    <link
        rel="stylesheet"
        href="/static/css/layout.css"
    >

    <link
        rel="stylesheet"
        href="/static/css/components.css"
    >


    <link
    rel="stylesheet"
    href="/static/css/visuals/family-visual-base.css"
>


    <link
    rel="stylesheet"
    href="/static/css/visuals/family-length.css"
>

<link rel="stylesheet" href="/static/css/visuals/family-temperature.css">

<link rel="stylesheet" href="/static/css/visuals/family-pressure.css">

<link rel="stylesheet" href="/static/css/visuals/family-energy.css">

<link rel="stylesheet" href="/static/css/visuals/family-voltage.css">

<link rel="stylesheet" href="/static/css/visuals/family-current.css">

<link rel="stylesheet" href="/static/css/visuals/family-resistance.css">

<link rel="stylesheet" href="/static/css/visuals/family-power.css">

<link rel="stylesheet" href="/static/css/visuals/family-mass.css">

<link rel="stylesheet" href="/static/css/visuals/family-speed.css">

<link rel="stylesheet" href="/static/css/visuals/family-volume.css">

<link rel="stylesheet" href="/static/css/visuals/family-force.css">

<link rel="stylesheet" href="/static/css/visuals/family-data.css">

<link rel="stylesheet" href="/static/css/visuals/family-angle.css">

<link rel="stylesheet" href="/static/css/visuals/family-time.css">

<link rel="stylesheet" href="/static/css/visuals/family-data-rate.css">

<link rel="stylesheet" href="/static/css/visuals/family-frecuency.css">






</head>

<body>

    {{template "header" .}}

    <main class="page">
        {{template "content" .}}
    </main>

    {{template "footer" .}}

</body>
</html>
{{end}}